<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="header-elements d-none">
            <div class="d-flex">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block legitRipple">
                    <i class="fas fa-align-justify"></i>
                </a>
            </div>
            <div class="d-flex">
                <span class="navbar-text ml-md-3">
                        <span class="fas fa-user-check mr-2 text-success-600"></span>
                <small>
                        {{'home.header.msg.welcome' | translate}} Victoria!
                        </small>
                </span>
            </div>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-link btn-float  font-weight-semibold text-default legitRipple">
                    <i class="fas fa-power-off text-pink-300"></i>
                    <span> <small>{{'home.header.msg.logout' | translate}}</small></span>
                </a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-link btn-float  font-weight-semibold text-default legitRipple">
                    <i class="fas fa-tools text-pink-300"></i>
                    <span> <small>{{'home.header.msg.settings' | translate}}</small></span>
                </a>
            </div>
        </div>
    </div>
</div>