<div>


    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        <span class="font-weight-semibold">Navigation</span>
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->


    <!-- Sidebar content -->
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user-material">
            <div class="sidebar-user-material-body">
                <div class="card-body text-center">
                    <a href="#">
                        <!-- <img src="../../../../global_assets/images/demo/users/face6.jpg" class="img-fluid rounded-circle shadow-1 mb-3" width="80" height="80" alt=""> -->
                    </a>
                    <h6 class="mb-0 text-white text-shadow-dark">Victoria Baker</h6>
                    <span class="font-size-sm text-white text-shadow-dark">CDMX</span>
                </div>

                <div class="sidebar-user-material-footer">

                    <a href="#user-nav" class="d-flex justify-content-between align-items-center legitRipple " data-toggle="collapse">
                        <span>{{'home.menu.label.myaccount' | translate}}</span>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="collapse" id="user-nav">
                <ul class="nav nav-sidebar">
                    <li class="nav-item">
                        <a href="#" class="nav-link legitRipple">
                            <i class="fas fa-user-cog    "></i>
                            <span>{{'home.menu.label.profile' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link legitRipple">
                            <i class="fas fa-power-off"></i>
                            <span>{{'home.menu.label.logout' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                <!-- Main -->
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs"> {{'home.menu.label.main' | translate}}</div>
                    <i class="icon-menu" title="Main"></i>
                </li>
                <li class="nav-item">
                    <a routerLink="/home/activations/pending" routerLinkActive="router-link-active" class="nav-link active legitRipple">
                        <i class="fas fa-file-signature"></i>
                        <span>
                            {{'home.menu.label.pending.activations' | translate}}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home/activations/historical" routerLinkActive="router-link-active" class="nav-link active legitRipple">
                        <i class="fas fa-history"></i>
                        <span>
                            {{'home.menu.label.historical.activations' | translate}}
                        </span>
                    </a>
                </li>
                <!-- /main -->
            </ul>
        </div>
        <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->

</div>