main {
    /* background: url("/creditCheckSystem/assets/images/BC_creditCheck.png"); */
    background: url("/assets/images/BC_creditCheck.png");
    /* background: url("/creditCheckSystem/assets/images/BC_creditCheck.png"); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 515px;
}