<div class="text-center d-lg-none w-100">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-footer">
        <i class="fas fa-expand-arrows-alt mr-2"></i>
        {{'home.footer.label.footer' | translate}}
      </button>
</div>

<div class="navbar-collapse collapse" id="navbar-footer">
    <span class="navbar-text">
            {{'home.footer.label.copyright' | translate}}
            {{currentYear}}
            {{'home.footer.label.business.name' | translate}}
        </span>
    <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item"><a href="#" class="navbar-nav-link legitRipple" target="_blank"><i class="fas fa-medkit mr-2"></i> {{'home.footer.label.support' | translate}}</a></li>
        <li class="nav-item"><a href="#" class="navbar-nav-link legitRipple" target="_blank"><i class="fas fa-file-alt mr-2"></i> {{'home.footer.label.docs' | translate}}</a></li>

    </ul>
</div>